BeautifulSoup==3.2.1
beautifulsoup4==4.2.1
blessed==1.14.2
cement==2.8.2
configobj==4.7.2
docutils==0.14rc2
Flask-WTF==0.14.2
freeze==1.0.10
futures==3.1.1
html5lib==1.0b10
httplib2==0.8
itsdangerous==0.24
Jinja2==2.9.6
lpthw.web==1.1
lxml==3.3.3
MarkupSafe==1.0
mechanize==0.3.5
pathspec==0.5.0
Pillow==2.3.0
pycrypto==2.6.1
pyparsing==2.0.1
python-dateutil==2.6.1
pytz==2012rc0
PyYAML==3.12
requests==2.9.1
semantic-version==2.5.0
six==1.10.0
urllib3==1.21.1
webencodings==0.5.1
websocket-client==0.44.0
Werkzeug==0.12.2
WTForms==2.1