{% extends "base.html" %} {% block content %}

 {% if msgs|length > 0 and msgs is defined%}
 
   <div class="alert alert-warning" style="margin-right:50%;">
    <strong>Warning!</strong> {% for msg in msgs %} {% if msg|length > 0 and msgs != "" %}
    <p> {{ msg }}</p>
    
 {% endif %} {% endfor%}

</div>

{% endif %} 

<form action="{{ url_for('downloadpage', state_selected=state_selected,site=site ) }}" method="POST" name="downloadform">

 {{ form.hidden_tag() }}
 <p> Would you like to download this file: {{ filename }} ? </p>
 {{form.submit}}
 
</form>

{% endblock %}