{% extends "base.html" %} {% block content %}
<div class="container">

    <div class="alert alert-warning"> 
    <p><strong>Warning!</strong> System times out after 30 minutes of inactivity.</p>
    </div>

    <div class="well">
        <form class="form-inline" action="{{ url_for('index') }}" method="POST" name="condoform">
            {{ form.hidden_tag() }}


            <h4>HUD.gov</h4>
            <p>Please select a state: {{ form.state }} </p>

            {{ form.submit1 }} <br>
        </form>
    </div>

    <div class="well">
        <form class="form-inline" action="{{ url_for('index') }}" method="POST" name="vacondoform">
            {{ va_form.hidden_tag() }}


            <h4>VA.gov</h4>
            <p>Please select a state: {{ va_form.state }} </p>
            <p>Please select report type: {% for subfield in va_form.rt %}
                <tr>
                    <td>{{ subfield.label }} : {{ subfield }}</td>

                </tr>
                {% endfor %}

            </p>

            {{ va_form.vasubmit }} <br>
        </form>
    </div>

</div>
{% endblock %}