
{% extends "base.html" %}

{% block content %}
<script>
$(function poll() {
        var url = document.location.pathname;
        var values = url.split("/");
      
        $.ajax({
            url: '/done',
            data : {state_selected : values[2], site : values[3] },
            type: 'GET',
            contentType: 'application/json;charset=UTF-8',
            success: function(response) {
                window.location.href = response.result;
            },
            
            error: function(response){
                setTimeout(function () {
                    poll();
                }, 10000)
            },
    });
});
</script>
<center>
<h1>COLLECTING DATA</h1>

<div class="loader"></div>
</center>
{% endblock %}